<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <!-- Second page content moved to first carousel item -->
      <div class="carousel-item active" data-bs-interval="10000">
        <svg class="bd-placeholder-img" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="400" fill="var(--bs-secondary-color)"/>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Add natural products and other compounds</h1>
            <p>Choose what compounds are public and which are private!</p>
          </div>
        </div>
      </div>
  
      <div class="carousel-item" data-bs-interval="10000">
        <svg class="bd-placeholder-img" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="400" fill="var(--bs-secondary-color)"/>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <a href="https://forms.gle/fnkUPYsEmuVc2Coo8" class="carousel-link">
              <h1>Click here to request access!</h1>
            </a>
            <p class="opacity-75">Search compounds of interest by DOI, Compound Name, Structure, and Taxa</p>
          </div>
        </div>
      </div>
  
      <!-- The third carousel item remains unchanged -->
      <div class="carousel-item" data-bs-interval="10000">
        <svg class="bd-placeholder-img" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="400" fill="var(--bs-secondary-color)"/>
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>You can also make your own database locally!</h1>
            <p>Check out our documentation for more information</p>
          </div>
        </div>
      </div>
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>